<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
<div style="display:none">
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1252889580'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s23.cnzz.com/stat.php%3Fid%3D1252889580%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
<p>Copyright © 2014-2016 Xudadi All Rights Reserved</p>
<p>适用浏览器：360、FireFox、Chrome、Safari、Opera、傲游、搜狗、世界之窗. 不支持IE8及以下浏览器。</p>
</div>
</body>
</html>
