{% include header.html %}
<body>
<div class="htmleaf-container">
	<nav class="animenu"> 
	  <button class="animenu__toggle">
		<span class="animenu__toggle__bar"></span>
		<span class="animenu__toggle__bar"></span>
		<span class="animenu__toggle__bar"></span>
	  </button>
	  <!--分割线-->
	  <ul class="animenu__nav">
		<li>
		  <a href="http://hao.xudadi.com">主页</a>
		</li>
		<li>
		  <a href="#">常用网址</a>
		  <ul class="animenu__nav__child">
			<li><a href="https://www.baidu.com/s?ie=utf-8&f=8&rsv_bp=0&rsv_idx=1&tn=baidu&wd=%E8%AE%B8%E5%A4%A7%E5%9C%B0">百度</a></li>
			<li><a href="https://www.so.com/s?ie=utf-8&shb=1&src=home_so.com&q=%E8%AE%B8%E5%A4%A7%E5%9C%B0">好搜</a></li>
			<li><a href="http://weibo.com/xudadi811">微博</a></li>
		  </ul>
		</li>    
		<!--分割线-->
		<li>
		  <a href="#">常用博客</a>
		  <ul class="animenu__nav__child">
			<li><a href="http://blog.xudadi.com">许大地博客</a></li>
			<li><a href="http://11834354.qzone.qq.com">腾讯博客</a></li>
			<li><a href="http://xudadi.lofter.com">网易博客</a></li>
			<li><a href="https://twitter.com/xudadi">Twitter</a></li>
			<li><a href="https://instagram.com/xudadi811">Instagram</a></li>
			<li><a href="https://xudadi.tumblr.com">Tumblr博客</a></li>
		  </ul>
		</li>
		<!--分割线-->
		<li>
		  <a href="#">音乐</a>
		  <ul class="animenu__nav__child">
			<li><a href="http://fm.baidu.com/">百度音乐</a></li>
			<li><a href="https://douban.fm/">豆瓣FM</a></li>
			<li><a href="http://y.qq.com/portal/profile.html?uin=11834354">QQ音乐</a></li>
		  </ul>
		</li>   
		<!--分割线-->
		<li>
		  <a href="#">邮箱</a>
		  <ul class="animenu__nav__child">
			<li><a href="http://mail.Xudadi.com">域名邮箱</a></li>
			<li><a href="https://mail.qq.com">QQ邮箱</a></li>
			<li><a href="http://www.gmail.com">谷歌邮箱</a></li>
		  </ul>
		</li>
		<!--分割线-->
		<li>
		  <a href="#">域名工具</a>
		  <ul class="animenu__nav__child">
			<li><a href="http://whois.aliyun.com/whois/domain/">whois查询</a></li>
			<li><a href="http://tool.chinaz.com/">站长工具</a></li>
			<li><a href="http://www.cnzz.com">CNZZ</a></li>
		  </ul>
		</li>
		<!--分割线-->
		<li>
		  <a href="#">实用工具</a>
		  <ul class="animenu__nav__child">
			<li><a href="http://fanyi.baidu.com">百度翻译</a></li>
			<li><a href="http://widget.weibo.com/dialog/PublishWeb.php?refer=y&language=zh_cn&app_src=3Phu20&button=pubilish">发布微博</a></li>
			<li><a href="http://www.webps.cn">在线PS</a></li>
			<li><a href="http://www.bejson.com">json校验</a></li>
		  </ul>
		</li>
		<!--分割线-->
		<li>
		  <a href="http://blog.xudadi.com/about.html">关于</a>
		</li>
		<!--分割线-->
		<li>
		  <a href="http://blog.xudadi.com/more.html">更多</a>
		</li>                 
	  </ul>
	</nav>
</div>

{% include footer.html %}
